body {
    font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    background-color: #1e1e1e;
    color: #cccccc;
    height: 100%;
}
        
@media (min-width: 768px) {
    aside {
        height: 100%;
    }
}

#sidebar li:hover {
    color: #1fa87a;
}

#sidebar a:hover {
    color: #1fa87a;
}

a.project-card,
a.project-card:hover {
  color: inherit;
}